<form class="places__sorting" action="#" method="get">
  <span
    class="places__sorting-caption"
    [ngStyle]="{marginRight: '5px'}"
  >Sort by</span>
  <span class="places__sorting-type" tabindex="0" (click)="isShown = !isShown">
    {{getCurrentSortType()}}
    <svg class="places__sorting-arrow" width="7" height="4">
      <use xlink:href="#icon-arrow-select"/>
    </svg>
  </span>
  <ul
    class="places__options places__options--custom"
    [ngClass]="{'places__options--opened': isShown}"
  >
    <li
      *ngFor="let sortType of getSortTypes()"
      class="places__option"
      [ngClass]="{'places__option--active': sortType === getCurrentSortType()}"
      (click)="handleChoose(sortType)"
      tabindex="0"
    >
      {{sortType}}
    </li>
  </ul>
</form>