<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__left">
        <a class="header__logo-link header__logo-link--active">
          <img class="header__logo" src="assets/img/logo.svg" alt="6 cities logo" width="81" height="41">
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <ng-container *ngIf="getAuthorized()">
            <li class="header__nav-item user">
              <a class="header__nav-link header__nav-link--profile" href="#">
                <div class="header__avatar-wrapper user__avatar-wrapper"></div>
                <span class="header__user-name user__name">
                  {{ getCurrentUser()?.email }}
                </span>
              </a>
            </li>
            <li class="header__nav-item">
              <a
                class="header__nav-link"
                routerLink="/logout"
              >
                <span class="header__signout">Sign out</span>
              </a>
            </li>
          </ng-container>

          <li class="header__nav-item user"  *ngIf="!getAuthorized()">
            <a
              class="header__nav-link header__nav-link--profile"
              routerLink="/login"
            >
              <div class="header__avatar-wrapper user__avatar-wrapper">
              </div>
              <span class="header__login">Sign in</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>