<div class="page">
  <app-header></app-header>

  <p *ngIf="isLoading; else elseBlock">Loading</p>
  <ng-template #elseBlock>
    <main  class="page__main page__main--property">
      <section class="property">
        <div class="property__gallery-container container">
          <div class="property__gallery">
            <div
              *ngFor="let img of offer.images.slice(0, 6)"
              class="property__image-wrapper"
            >
              <img class="property__image" [src]="img" alt="Photo studio">
            </div>
          </div>
        </div>
        <div class="property__container container">
          <div class="property__wrapper">
            <div *ngIf="offer.is_premium" class="property__mark">
              <span>Premium</span>
            </div>
            <div class="property__name-wrapper">
              <h1 class="property__name">
                {{offer.title}}
              </h1>

              <button
                class="property__bookmark-button button"
                [ngClass]="{'property__bookmark-button--active': offer.is_favorite}"
                [disabled]="isToggling"
                (click)="handleBookmarkClick()"
                type="button"
              >
                <svg class="property__bookmark-icon" width="31" height="33">
                  <use xlink:href="#icon-bookmark"></use>
                </svg>
                <span class="visually-hidden">To bookmarks</span>
              </button>
            </div>

            <div class="property__rating rating">
              <div class="property__stars rating__stars">
                <span
                  [ngStyle]="{'width': getRatingString(offer.rating)}"
                ></span>
                <span class="visually-hidden">Rating</span>
              </div>
              <span class="property__rating-value rating__value">{{offer.rating}}</span>
            </div>

            <ul class="property__features">
              <li class="property__feature property__feature--entire">
                {{getAccommodationType(offer.type)}}
              </li>
              <li class="property__feature property__feature--bedrooms">
                {{offer.bedrooms}} Bedrooms
              </li>
              <li class="property__feature property__feature--adults">
                Max {{offer.max_adults}} adults
              </li>
            </ul>

            <div class="property__price">
              <strong class="property__price-value">&euro;{{offer.price}}</strong>
              <span class="property__price-text">&nbsp;night</span>
            </div>

            <div class="property__inside">
              <h2 class="property__inside-title">What&apos;s inside</h2>
              <ul class="property__inside-list">
                <li *ngFor="let good of offer.goods" class="property__inside-item">
                  {{good}}
                </li>
              </ul>
            </div>

            <div class="property__host">
              <h2 class="property__host-title">Meet the host</h2>
              <div class="property__host-user user">
                <div class="property__avatar-wrapper property__avatar-wrapper--pro user__avatar-wrapper">
                  <img
                    class="property__avatar user__avatar"
                    [src]="['assets', offer.host.avatar_url].join('/')"
                    width="74"
                    height="74"
                    alt="Host avatar"
                  >
                </div>
                <span class="property__user-name">
                  {{offer.host.name}}
                </span>
                <span *ngIf="offer.host.is_pro" class="property__user-status">
                  Pro
                </span>
              </div>

              <div class="property__description">
                <p class="property__text">
                  {{offer.description}}
                </p>
              </div>
            </div>

            <app-reviews [offerId]="offer.id"></app-reviews>
          </div>
        </div>
        <section class="property__map map"></section>
      </section>
      <div class="container">
        <app-neighbourhood [offerId]="offerId"></app-neighbourhood>
      </div>
    </main>
  </ng-template>

</div>