<form
  class="login__form form"
  (submit)="handleFormSubmit()"
  [formGroup]="loginForm"
  autocomplete="on"
>
  <div class="login__input-wrapper form__input-wrapper">
    <label class="visually-hidden">E-mail</label>
    <p class='error'>{{emailErrorMessage}}</p>
    <input
      class="login__input form__input"
      type="email"
      name="email"
      formControlName="email"
      placeholder="Email"
      autocomplete="email"
      required
    >
  </div>
  <div class="login__input-wrapper form__input-wrapper">
    <label class="visually-hidden">Password</label>
    <p class='error'>{{passwordErrorMessage}}</p>
    <input
      class="login__input form__input"
      type="password"
      name="password"
      formControlName="password"
      placeholder="Password"
      autocomplete="current-password"
      required
    >
  </div>

  <button
    class="login__submit form__submit button"
    type="submit"
    [disabled]="loginForm.disabled"
  >Sign in</button>
</form>