<form
  class="reviews__form"
  [formGroup]="reviewForm"
  (submit)="handleSubmit()"
>
  <label class="reviews__label form__label" for="review">Your review</label>
  <div class="reviews__rating-form form__rating">
    <ng-container *ngFor="let star of starValues; let i = index">
      <input
        class="form__rating-input visually-hidden"
        name="rating"
        [value]="star"
        id="{{star}}-stars"
        type="radio"
        formControlName="rating"
      >
      <label
        for="{{star}}-stars"
        class="reviews__rating-label form__rating-label"
        [title]="ratingTitles[i]"
      >
        <svg class="form__star-image" width="37" height="33">
          <use xlink:href="#icon-star"></use>
        </svg>
      </label>
    </ng-container>
  </div>
  <textarea
    class="reviews__textarea form__textarea"
    formControlName="comment"
    id="review"
    name="review"
    placeholder="Tell how was your stay, what you like and what can be improved"
  >
  </textarea>
  <div class="reviews__button-wrapper">
    <p class="reviews__help">
      To submit review please make sure to set
      <span class="reviews__star">rating</span>
      and describe your stay with at least
      <strong class="reviews__text-amount">50 characters</strong>.
    </p>
    <button
      class="reviews__submit form__submit button"
      type="submit"
      [disabled]="!reviewForm.valid || isSubmitting"
    >Submit</button>
  </div>
</form>